<!-- define the top-most banner, make the site more elegant -->
<!-- <div class="top-bar"></div> -->

<!-- set the navigator -->
<div class="header-container">
  <header class="inner">
    <nav>
      <a class="{% if page.category == 'home' %} selected {% endif %}" href="/">Home</a>
      <a class="{% if page.category == 'research' %} selected {% endif %}" href="/research/">Research</a>
      <a class="{% if page.category == 'publication' %} selected {% endif %}" href="/publications/">Publications</a>
      <a class="{% if page.category == 'news' %} selected {% endif %}" href="/news/">News</a>
      <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">Blog</a>
    </nav>

    <social style="float: right;">
        <a href="https://scholar.google.com/citations?user=9pDyyUAAAAAJ&hl=en" title="My Google Scholar">
          <i class="icon-googlescholar"></i>
        </a>
        <a href="https://github.com/kun-wang" title="My GitHub">
          <i class="icon-github"></i>
        </a>
        <a href="https://twitter.com/intent/follow?screen_name=QuantumMan2018" title="My Twitter">
          <i class="icon-twitter"></i>
        </a>
        <a href="/feed.xml" title="Subscribe to My Blog">
          <i class="icon-rss"></i>
        </a>
    </social>
    <!-- <div class="pull-right right logo">
      <a href="http://kunwang.info/"><img class="avatar" src="/images/avatar.jpg" alt="avatar"/></a>
    </div> -->
    <div class="clear"></div>
  </header>
  <div class="clear"></div>
</div>
