---
layout: default
---

<section class="inner">
<div class="home">
    {{ content }}
</div>
</section>

<section class="inner">
    <h3>News</h3>
    
    <ul class="news list-unstyled" style="list-style-type:none;">
        {% for item in site.news limit: site.home_page_news_limit %}
            {% include news-page.html item=item %}
        {% endfor %}
        {% assign numposts = site.news | size %}
        {% if numposts >= site.home_page_news_limit %}
            <li class="newsitem">
                <span class="fa fa-fw fa-history"></span>
                <a href="{{ site.base }}/news/">Older news&hellip;</a>
            </li>
        {% endif %}
    </ul>
</section>
